version: '3.8'

services:
  postgresql:
    image: bitnami/postgresql:16
    container_name: bitnami-postgres-fCtrl
    restart: always
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=financeControl
    ports:
      - "5432:5432"
    volumes:
      - postgresql_data:/bitnami/postgresql

  api:
    build: .
    container_name: api-finance-control
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/financeControl
      - SPRING_DATASOURCE_USERNAME=docker
      - SPRING_DATASOURCE_PASSWORD=docker
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - postgresql

volumes:
  postgresql_data:

