version: '3.8'

services:
  api:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/finance-control-api:latest
    container_name: api-finance-control
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_ENDPOINT}:5432/financeControl
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JWT_APP_ISSUER=my-app
      - JWT_EXPIRATION_TIME=3600
      - JWT_PUBLIC_KEY=file:/app/keys/app.pub
      - JWT_PRIVATE_KEY=file:/app/keys/app.key
    volumes:
      - /home/ec2-user/app/keys:/app/keys:ro

